/blib
/cover_db
/cpanfile.snapshot
/local
/perltidy.LOG
/pod2htmd.tmp
/_build
/Build
/MANIFEST.bak
/MANIFEST.SKIP.bak
/MYMETA.json
/MYMETA.yml
/PPM-Slack-v[0-9]*.tar.gz
/Slack-v[0-9]*
/Slack-v[0-9]*.tar.gz
/Slack.ppd
